@charset "utf-8";

/* Inconsolata : https://fonts.google.com/specimen/Inconsolata?query=inc */

/* 폰트 : Inconsolata */
@font-face {
  font-family: Inconsolata;
  src: local('Inconsolata'),
    url('../font/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-Bold';
  src: local('Inconsolata'),
    url('../font/Inconsolata-Bold.ttf') format('truetype');
}

:root {
  --main-font: Inconsolata;
  --bold-font: Inconsolata-Bold;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: var(--bold-font), cursive;
  line-height: 1.4;
}