@charset "UTF-8";

/* utility */
.sr_only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

body {
  color: #fff;
}

html {
  font-size: 10px;
}

.container {
  width: 120rem;
  max-width: calc(100% - 6rem);
  margin: 0 auto;
}

main {
  background-color: #333333;
  padding-bottom: 13rem;
}

main .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 0;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(104, 65, 65, 0.1);
  box-shadow: inset 0 -1px rgb(0 0 0 / 30%), 0 -1px rgb(0 0 0 / 30%);
}

.main-header__back a {
  font-size: 1.6rem;
  position: relative;
  padding-left: 3.6rem;
}

.main-header__back a::before {
  content: "";
  background-image: url(../img/arrow.png);
  width: 1.7rem;
  height: 1.3rem;
  position: absolute;
  left: -0.1rem;
  top: 0.3rem;
}

.main-header .control-box {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  position: relative;
}

.control-box .control-btn {
  width: 12rem;
  line-height: 3.2rem;
  border-radius: 0.4rem;
  background-color: #000;
  color: inherit;
  padding: 0 11rem 0 1.4rem;
  font-family: inherit;
  position: relative;
}

.control-box .control-btn::after {
  content: "";
  background-image: url(../img/angle_down.png);
  position: absolute;
  right: 14.25px;
  width: 1.1rem;
  height: 0.6rem;
  top: 13.25px;
  transition: transform 0.3s;
}

.control-btn.on::after {
  transform: rotate(180deg);
}

.control-btn.on + .control-ul {
  display: block;
}

.control-box .control-ul {
  display: none;
  position: absolute;
  left: 115px;
  width: 12rem;
  bottom: -123px;
  background-color: #1e1e1e;
  padding: 1.4rem;
  border-radius: 0.4rem;
  z-index: 1;
  box-shadow: 0.4rem 0.4rem 1.4rem rgb(0 0 0 / 15%);
  line-height: 3rem;
  cursor: pointer;
}

.control-box .control-mode {
  min-height: 3.2rem;
  line-height: 3.2rem;
  padding: 0 1rem;
  border-radius: 0.4rem;
  background-color: #4aa5f8;
  color: #fff;
  text-align: center;
}

main .gradient {
  margin-bottom: 1rem;
  padding-top: calc(0.4 * 100%);
  background: linear-gradient(90deg, #569cd6 0%, #9cdcfe 100%);
  position: relative;
}

.gradient .gradient-control {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
}

.gradient-control .gradient-rotate {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0.4rem 0 0 0.4rem;
  position: relative;
  border: 0.7rem solid white;
  background: linear-gradient(90deg, #569cd6 0%, #9cdcfe 100%);
  box-sizing: border-box;
}

.gradient-control .range-control {
  position: absolute;
  top: 68px;
  left: -71px;
  width: 17rem;
  display: none;
}

.range-control input {
  width: 9rem;
}

.range-control label {
  vertical-align: 0.3rem;
}

.gradient-rotate .range-bg {
  background-color: #fff;
  opacity: 0.3;
  width: 17rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  position: absolute;
  top: 56px;
  left: -74px;
  display: none;
}

.gradient-rotate.on .range-bg,
.gradient-rotate.on .range-control {
  display: block;
}

.range-bg::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1rem 1.6rem 1rem;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -11px;
  left: 79px;
}

.gradient-control button {
  background-color: #fff;
}

.gradient-control .gradient-spread {
  background: url(../img/linear.png) no-repeat center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0 0.4rem 0.4rem 0;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.gradient-control .gradient-random {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  margin: 0 0.8rem;
  background-image: url(../img/random.png);
  background-size: 18px 19px;
  background-position: center;
  background-repeat: no-repeat;
}

.gradient-control .gradient-copy {
  width: 7rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  background-image: url(../img/all_copy.png);
  background-size: 32px 18px;
  background-position: center;
  background-repeat: no-repeat;
}

main .color-array {
  height: 18rem;
  display: flex;
}

.color-array > button {
  width: calc(100% / 6);
  background-repeat: no-repeat;
  background-position: center;
}

.color-box-1 {
  background-color: #569cd6;
}

.color-box-2 {
  background-color: #9cdcfe;
}

.color-box-3 {
  background-color: #d4d4d4;
}

.color-box-4 {
  background-color: #dcdcaa;
}

.color-box-5 {
  background-color: #da70d6;
}

.color-box-6 {
  background-color: #ce9178;
}

.copied {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333;
  width: 400px;
  height: 200px;
  line-height: 200px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
}

.copied p {
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.copied.on {
  display: block;
}
