@charset "UTF-8";

/* utility */
.sr_only {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

body {
    color: #fff;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

main {    
    background-color: #333333;
    padding-bottom: 132px;
}

main .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__back a {
    font-size: 18px;
    position: relative;
    padding-left: 36.75px;
}

.main-header__back a::before {
    content: '';
    background-image: url(../img/arrow.png);
    width: 17.5px;
    height: 13.5px;
    position: absolute;
    left: 3.25px;
    top: 5.25px;
}

.main-header .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.control .control-info {
    margin-right: 22px;
}

.control .control-btn {
    width: 160px;
    height: 44px;
    border-radius: 4px;
    background-color: #000;
    color: inherit;
    font-size: 20px; 
    font-weight: bold;
    padding: 0 116px 0 14px;
    font-family: inherit;
    position: relative;
}

.control .control-btn::after {
    content: '';
    background-image: url(../img/angle_down.png);
    position: absolute;
    right: 14.25px;
    width: 11.5px;
    height: 6.5px;
    top: 19.25px;
}

.control-btn.on::after {
  transform: rotate(180deg);
}

.control-btn.on+.control-ul {
  display: block;
}

.control .control-ul {
    display: none;
    position: absolute;
    left: 126px;
    font-size: 20px;
    width: 160px;
    bottom: -74px;
    background-color: black;
    padding: 14px;
    border-radius: 4px;
    z-index: 1;
}

.control .control-mode {
    width: 160px;
    height: 44px;
    border-radius: 4px;
    background-color: #004D94;
    color: #fff;
    font-size: 20px; 
    font-weight: bold;
    text-align: center;
    line-height: 44px;
    margin-left: 17px;
    position: relative;
}

.control .control-mode::before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #C4C4C4;
    position: absolute;
    left: -8px;
    top: 12px;
}

main .gradient {
    margin: 28px 0 40px 0;
    height: 600px;
    background: linear-gradient(90deg, #569CD6 0%, #9CDCFE 100%);
    position: relative;
}

.gradient .gradient-control {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
}

.gradient-control .first-mini-color,
.gradient-control .second-mini-color {
    width: 64px;
    height: 44px;
    border-radius: 4px;
    border: none;
    padding: 8px;
    background-color: #fff;
}

.gradient-control input[type="color" i]::-webkit-color-swatch-wrapper {
    align-items: center;
}

.gradient-control input[type="color" i]::-webkit-color-swatch {
    width: 44px;
    height: 28px;
    border: none;
}

.gradient-control .second-mini-color {
    margin: 0 13px 0 4px;
}

.gradient-control .gradient-rotate {
    width: 44px;
    height: 44px;
    border-radius: 4px 0 0 4px;
    position: relative;
    border: 7px solid white;
    background: linear-gradient(90deg, #569CD6 0%, #9CDCFE 100%);
    box-sizing: border-box;
}

.gradient-control .range-control {
    position: absolute;
    top: 68px;
    left: -71px;
    width: 170px;
    display: none;
}

.range-control input {
    width: 90px;
}

.range-control label {
  vertical-align: 3px;
}

.range-control label .value{

}

.gradient-rotate .range-bg {
    background-color: #fff;
    opacity: .3;
    width: 178px;
    height: 44px;
    border-radius: 4px;
    position: absolute;
    top: 56px;
    left: -74px;
    display: none;
}

.gradient-rotate.on .range-bg, 
.gradient-rotate.on .range-control {
    display: block;
}

.range-bg::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 16px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -11px;
    left: 79px;
}

.gradient-control button {
    background-color: #fff;
}

.gradient-control .gradient-spread {
    width: 44px;
    height: 44px;
    border-radius: 0 4px 4px 0;
    background-color: rgba(255,255,255,0.3);
    position: relative;
}

.gradient-control .gradient-spread::after {
    content: '';
    position: absolute;
    background-image: url(../img/radial.png);
    width: 28px;
    height: 28px;
    top: 8px;
    left: 8px;
}

.gradient-control .gradient-random {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    margin: 0 8px;
    background-image: url(../img/random.png);
    background-size: 18px 19px;
    background-position: center;
    background-repeat: no-repeat;
}

.gradient-control .gradient-copy {
    width: 72px;
    height: 44px;
    border-radius: 4px;
    background-image: url(../img/all_copy.png);
    background-size: 32px 18px;
    background-position: center;
    background-repeat: no-repeat;
}

main .color-array {
    height: 200px;
    display: flex;
}

.color-array > button {
    width: calc(100% / 6);
    background-repeat: no-repeat;
    background-position: center;
}

.color-box-1 {
    background-color: #569CD6;
}

.color-box-2 {
    background-color: #9CDCFE;
}

.color-box-3 {
    background-color: #D4D4D4;
}

.color-box-4 {
    background-color: #DCDCAA;
}

.color-box-5 {
    background-color: #DA70D6;
}

.color-box-6 {
    background-color: #CE9178;
}

