@charset "UTF-8";

body {
  background: #333333;
}

/* 공통 */
button {
  font-size: 1.6rem;
  font-family: inherit;
}

//접근성을 고려한 화면 감춤
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

/* Layout */
/* header */
.header {
  margin: 4rem 0;

  h1 {
    font-family: var(--main-font);
    font-size: 4rem;
    text-align: center;
    color: #EEBC72;
    margin-bottom: 2rem;

    .t-c1 {
      color: #EE807D;
    }

    .t-c2 {
      color: #C0DB6C;
    }

    .t-c3 {
      color: #9989F8;
    }

    .t-c4 {
      color: #4AA5F8;
    }

    .t-c5 {
      color: #EA3DEE;
    }

    .t-c6 {
      color: #E39844;
    }

    .t-c6 {
      color: #BFBFBF;
    }
  }
}

/* content */
.content {
  margin: 0 auto;
  width: 120rem;
  max-width: calc(100% - 6rem);
}

/* footer */
.footer {
  margin-top: 10rem;
  padding: 4rem;
  background: #1E1E1E;
  text-align: center;
  color: #fff;
  font-family: var(--main-font);

  h2 {
    font-size: 1.6rem;

    strong {
      font-size: 2rem;
      font-family: var(--bold-font);
    }
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.8rem;
    color: rgba(255, 255, 255, 0.6);

    li:not(:first-child) {
      &::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 8px;
        background: rgba(255, 255, 255, 0.2);
        margin-right: 2rem;
      }
    }
  }
}


/* 컨트롤 */
.control {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0.8em 0;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.3), 0 -1px rgba(0, 0, 0, 0.3);

  a,
  button {
    border: 0;
    box-sizing: border-box;
    height: 3.2rem;
    line-height: 3.2rem;
    border-radius: 0.4rem;
  }

  .back {
    display: block;
    height: 100%;
    padding-left: 3.2rem;
    color: #fff;
    font-size: 1.6rem;
    background: url(../img/back.svg) no-repeat 0 50% / 2.4rem 2.4rem;
  }

  .control-right {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

/* 셀렉트 */
.cont-select {
  position: relative;
  width: 12rem;

  .btn-select {
    width: 100%;
    border-radius: 0.3rem;
    color: #fff;
    text-align: left;
    padding: 0 2em 0 1em;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #111;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      top: 50%;
      margin-top: -1.2rem;
      right: 0.8rem;
      background: url(../img/down.svg) no-repeat 50% 50% / cover;
      transition: transform 0.3s;
    }

    &.on::after {
      transform: rotate(-180deg);
    }


  }

  .btn-select:active+.list-member {
    display: block;
  }

  .list-member {
    position: absolute;
    top: 3.4rem;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    border-radius: 0.4rem;
    background: #1e1e1e;
    color: #fff;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);

    &.on {
      display: block;
    }

    li {
      height: 4rem;
      padding: 0.5rem 0.8rem;

      button {
        width: 100%;
        height: 100%;
        text-align: left;
        border-radius: 0.8rem;
        background: transparent;
        color: #fff;
        transition: background-color 0.3s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover,
        &:focus {
          color: #4AA5F8;
        }
      }

    }

  }
}

/* button */
[class^='button-'] {
  background: #4AA5F8;
  color: #fff;
  display: inline-flex;
  padding: 0 1rem;
  border-radius: 0.4rem;
  align-items: center;


  &.button-st1 {
    background: #004D94;
  }
}

/* color box */
.color-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.color-list {
  a {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.2rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    background: #1E1E1E;


    gap: 0.5em;
  }

  .color-title {
    color: #fff;
  }

  .wrap {
    display: flex;
    flex-direction: column;

    .script-txt {
      color: #fff;
      padding: 2em 1em;
    }

    div.script-txt {
      height: 40rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 2em;
        font-family: var(--main-font);
      }
    }

    .palette {
      display: flex;
      height: 4rem;
      align-items: stretch;

      li {
        width: 100%;
        height: 100%;
      }

      .color-box {
        width: 100%;
        height: 100%;
      }
    }

    ul.palette {
      height: 12rem;

      button span {

        transition: all 0.3s;
        opacity: 0;

      }

      button:hover {
        span {
          opacity: 1;
          font-size: 1.8rem;
          color: #fff;
          padding: 0.4rem 1rem;
          background: rgba(0, 0, 0, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 0.4rem;
        }
      }
    }
  }
}

/* 임시 */
.script-txt {
  background: #1E1E1E;
}

.c1 {
  color: #569CD6;

  &.color-box {
    background: #569CD6;
  }
}

.c2 {
  color: #9CDCFE;

  &.color-box {
    background: #9CDCFE;
  }
}

.c3 {
  color: #D4D4D4;

  &.color-box {
    background: #D4D4D4;
  }
}

.c4 {
  color: #DCDCAA;

  &.color-box {
    background: #DCDCAA;
  }
}

.c5 {
  color: #DA70D6;

  &.color-box {
    background: #DA70D6;
  }
}

.c6 {
  color: #CE9178;

  &.color-box {
    background: #CE9178;
  }
}