@charset "UTF-8";

body {
  background: #333333;
}

button {
  font-size: 1.6rem;
  font-family: inherit;
}

//접근성을 고려한 화면 감춤
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* Layout */
/* header */
.header {
  margin: 4rem 0;

  h1 {
    margin-bottom: 2rem;
    color: #EEBC72;
    font-family: var(--main-font);
    font-size: 4rem;
    text-align: center;

    .t-c1 {
      color: #EE807D;
    }

    .t-c2 {
      color: #C0DB6C;
    }

    .t-c3 {
      color: #9989F8;
    }

    .t-c4 {
      color: #4AA5F8;
    }

    .t-c5 {
      color: #EA3DEE;
    }

    .t-c6 {
      color: #E39844;
    }

    .t-c6 {
      color: #BFBFBF;
    }
  }
}

/* content */
.content {
  width: 120rem;
  max-width: calc(100% - 6rem);
  margin: 0 auto;
}

/* footer */
.footer {
  padding: 4rem;
  margin-top: 10rem;
  background: #1E1E1E;
  color: #fff;
  font-family: var(--main-font);
  text-align: center;

  h2 {
    font-size: 1.6rem;

    strong {
      font-family: var(--bold-font);
      font-size: 2rem;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.8rem;
    color: rgba(255, 255, 255, 0.6);

    li:not(:first-child) {
      &::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 0.8rem;
        margin-right: 2rem;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

/* 컨트롤 */
.control {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 0;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.3), 0 -1px rgba(0, 0, 0, 0.3);

  a,
  button {
    height: 3.2rem;
    border: 0;
    border-radius: 0.4rem;
    line-height: 3.2rem;
    box-sizing: border-box;
  }

  .button-back {
    display: block;
    height: 100%;
    padding-left: 3.2rem;
    background: url(../img/back.svg) no-repeat 0 50% / 2.4rem 2.4rem;
    color: #fff;
    font-size: 1.6rem;
  }

  .control-right {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}

/* 셀렉트 */
.cont-select {
  position: relative;
  width: 12rem;

  .btn-select {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0 2em 0 1em;
    border-radius: 0.3rem;
    background: #111;
    color: #fff;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0.8rem;
      width: 2.4rem;
      height: 2.4rem;
      margin-top: -1.2rem;
      background: url(../img/down.svg) no-repeat 50% 50% / cover;
      transition: transform 0.3s;
    }

    &.on::after {
      transform: rotate(-180deg);
    }
  }

  .btn-select:active+.list-member {
    display: block;
  }

  .list-member {
    display: none;
    position: absolute;
    top: 3.4rem;
    left: 0;
    width: 100%;
    border-radius: 0.4rem;
    background: #1e1e1e;
    color: #fff;
    box-shadow: 0.4rem 0.4rem 1.4rem rgba(0, 0, 0, 0.15);
    z-index: 1;

    &.on {
      display: block;
    }

    li {
      height: 4rem;
      padding: 0.5rem 0.8rem;

      button {
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        background: transparent;
        color: #fff;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: background-color 0.3s;

        &:hover,
        &:focus {
          color: #4AA5F8;
        }
      }
    }
  }
}

/* button */
[class^='button-']:not(.button-back) {
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.4rem;
  background: #4AA5F8;
  color: #fff;

  &.button-st1 {
    background: #004D94;
  }
}

/* color box */
.color-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;

  @media(max-width:1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width:560px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.color-list {
  a {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5em;
    padding: 1.2rem;
    border-radius: 1rem;
    background: #1E1E1E;
    font-size: 1.6rem;
  }

  .color-title {
    color: #fff;
  }

  .wrap {
    display: flex;
    flex-direction: column;

    .script-txt {
      padding: 2em 1em;
      color: #fff;
    }

    div.script-txt {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40rem;
      margin-bottom: 1rem;

      p {
        font-family: var(--main-font);
        font-size: 2em;
      }
    }

    .palette {
      display: flex;
      align-items: stretch;
      height: 4rem;

      li {
        width: 100%;
        height: 100%;
      }

      .color-box {
        width: 100%;
        height: 100%;
      }
    }

    ul.palette {
      height: 12rem;

      button span {
        opacity: 0;
        transition: all 0.3s;
      }

      button:hover {
        span {
          padding: 0.4rem 1rem;
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 0.4rem;
          background: rgba(0, 0, 0, 0.1);
          color: #fff;
          font-size: 1.8rem;
          opacity: 1;
        }
      }
    }
  }
}

.cont-list,
.cont-palette {
  display: none;
}

.cont-list.active,
.cont-palette.active {
  display: block;
}